# gradle properties only used for maven deployment

# Here the 'name' of a repo must match the maven settings.xml server credentials necessary for authentication
# if authentication is required

releaseRepoName=
releaseRepoURL=
snapshotRepoName=
snapshotRepoURL=
