<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" packages="net.logstash.logging.log4j2.core.layout" verbose="false">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="CONSOLE APPENDER:::: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="TestConsole" target="SYSTEM_OUT">
		<LogStashEventJSONLayout charset="UTF-8" prettyprint="true"/>
    </Console>

    <!--AuditSyslogAppender name="AuditSysLog" format="RFC5424" host="localhost" port="514"
            protocol="UDP" appName="TESTAPP" includeMDC="true"
            facility="LOCAL0" enterpriseNumber="18060" newLine="true"
            messageId="Audit" id="App"/-->
  </appenders>
  <loggers>
    <root level="DEBUG">
      <appender-ref ref="Console"/>
      <appender-ref ref="TestConsole"/>

      <!--appender-ref ref="AuditSysLog"/-->
    </root>
  </loggers>
</configuration>
